.footer-section {
  background-color: #333;
  color: #ffff;
  padding: 30px 40px;
  box-sizing: border-box;
  text-align: center;
}

.footer-section container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;

}


/*
Essai de la barre vertical
 */
.footer-content > div {
  flex: 1;
  padding: 0 20px 0 0;
  min-width: 200px;
  border-right: 1px solid #444444;
}

.footer-content > div:last-child {
  border-right: none;
}

.footer-links ul, .footer-socials ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li, .footer-socials li {
  margin-bottom: 10px;
}

.footer-links a, .footer-socials a {
  color: #00c9ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover, .footer-socials a:hover {
  color: #00a7d7;
}

.footer-links h4, .footer-socials h4, .footer-contact h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  border-bottom: 1px solid #444;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-icons a {
  font-size: 1.5rem;
  color: #00c9ff;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-contact a {
  color: #00c9ff;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 0.9rem;
  border-top: 1px solid #444;
  padding-top: 20px;
  color: #aaa;
}

.footer-bottom p {
  margin: 0;
}
