<footer class="footer-section">
  <div class="container">
    <div class="footer-content">

      <div class="footer-links">
        <h4>Navigation</h4>
        <ul>
          <li><a href="home">Accueil</a> </li>
          <li><a href="home">À propos</a> </li>
          <li><a href="home">Projets</a> </li>
          <li><a href="home">Contact</a> </li>
        </ul>
      </div>

      <div class="footer-socials">
        <h4>Suivez-moi</h4>
        <ul class="social-icons">
          <li><a href="https://www.linkedin.com/in/benjamin-de-coster-aa3b73255/" target="_blank"><i class="fab fa-linkedin"></i> </a></li>
          <li><a href="https://github.com/Lebossais" target="_blank"><i class="fab fa-github"></i> </a></li>
          <li><a href="https://" target="_blank"><i class="fab fa-facebook"></i> </a></li>
        </ul>
      </div>

      <div class="footer-contact">
        <h4>Contacter-moi</h4>
        <p>Email : <a href="mailto:BenjaminDC59@gmail.com>">BenjaminDC59gmail.com</a> </p>
        <p>Téléphone : +33 6 81 77 55 96</p>
      </div>

      <div class="footer-bottom">
          <p> Je tests des choses</p>
      </div>

    </div>
  </div>
</footer>
