header {
  position: fixed;
  top: 0;
  width: 100%;
  color: #f4f4f4;
  z-index: 100;
  transition: top 0.7s ease-in-out;
}

.hidden{
  top: -100px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 1rem;
  background-color: #333333;
  align-items: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
}


nav ul li {
  position: relative;
}

nav ul li + li:before {
  content: '';
  position: absolute;
  left: -200px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #444;
}

